* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin-top: 10%;
  text-align: center;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: aqua;
  border-radius: 15px;
}

#frm {
  margin-top: 3%;
}

#todotxt {
  width: 30%;
  font-size: large;
}

#btnadd {
  font-size: large;
  background-color: aquamarine;
  border-radius: 15px;
  width: 15%;
}
@media (max-width: 940px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
